<div>
    <h2>
        <span jhiTranslate="wilampCloudApp.installation.home.title">Installations</span>
        <button class="btn btn-primary float-right jh-create-entity create-installation-wilamp" [routerLink]="['/', { outlets: { popup: ['installation-wilamp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="wilampCloudApp.installation.home.createLabel">
            Create new Installation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wilampCloudApp.installation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="installations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="wilampCloudApp.installation.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="wilampCloudApp.installation.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preparationDate"><span jhiTranslate="wilampCloudApp.installation.preparationDate">Preparation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="installationDate"><span jhiTranslate="wilampCloudApp.installation.installationDate">Installation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notes"><span jhiTranslate="wilampCloudApp.installation.notes">Notes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressAddressDescription"><span jhiTranslate="wilampCloudApp.installation.address">Address</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="customerCompanyName"><span jhiTranslate="wilampCloudApp.installation.customer">Customer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let installation of installations ;trackBy: trackId">
                <td><a [routerLink]="['../installation-wilamp', installation.id ]">{{installation.id}}</a></td>
                <td>{{installation.name}}</td>
                <td>{{installation.description}}</td>
                <td>{{installation.preparationDate | date:'medium'}}</td>
                <td>{{installation.installationDate | date:'medium'}}</td>
                <td>{{installation.notes}}</td>
                <td>
                    <div *ngIf="installation.address">
                        <a [routerLink]="['../address-wilamp', installation.address  ]" >{{installation.addressAddressDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="installation.customer">
                        <a [routerLink]="['../customer-wilamp', installation.customer  ]" >{{installation.customerCompanyName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../installation-wilamp', installation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'installation-wilamp/'+ installation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'installation-wilamp/'+ installation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
