<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContactLabel" jhiTranslate="wilampCloudApp.contact.home.createOrEditLabel">Create or edit a Contact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contact.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contact.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.contact.contactDescription" for="field_contactDescription">Contact Description</label>
            <input type="text" class="form-control" name="contactDescription" id="field_contactDescription"
                [(ngModel)]="contact.contactDescription" required/>
            <div [hidden]="!(editForm.controls.contactDescription?.dirty && editForm.controls.contactDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contactDescription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.contact.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="contact.firstName" required/>
            <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.contact.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="contact.lastName" required/>
            <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.contact.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="contact.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.contact.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                [(ngModel)]="contact.mobile" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.contact.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="contact.email" />
        </div>

        <div class="form-group">
            <label jhiTranslate="wilampCloudApp.contact.address" for="field_address">Address</label>
            <select class="form-control" id="field_address" multiple name="address" [(ngModel)]="contact.addresses">
                <option [ngValue]="getSelected(contact.addresses, addressOption)" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.addressDescription}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.contact.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="contact.customerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.companyName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
