
<div *ngIf="contact">
    <h2><span [translate]="'contact.detail.title'">Contact</span> {{contact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'contact.contactDescription'">Contact Description</span></dt>
        <dd>
            <span>{{contact.contactDescription}}</span>
        </dd>
        <dt><span [translate]="'contact.firstName'">First Name</span></dt>
        <dd>
            <span>{{contact.firstName}}</span>
        </dd>
        <dt><span [translate]="'contact.lastName'">Last Name</span></dt>
        <dd>
            <span>{{contact.lastName}}</span>
        </dd>
        <dt><span [translate]="'contact.phone'">Phone</span></dt>
        <dd>
            <span>{{contact.phone}}</span>
        </dd>
        <dt><span [translate]="'contact.mobile'">Mobile</span></dt>
        <dd>
            <span>{{contact.mobile}}</span>
        </dd>
        <dt><span [translate]="'contact.email'">Email</span></dt>
        <dd>
            <span>{{contact.email}}</span>
        </dd>
        <dt><span [translate]="'contact.address'">Address</span></dt>
        <dd>
            <span *ngFor="let address of contact.addresses; let last = last">
                <a [routerLink]="['/address-wilamp', address?.id ]">{{address.addressDescription}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span [translate]="'contact.customer'">Customer</span></dt>
        <dd>
            <div *ngIf="contact.customer">
                <a [routerLink]="['/customer-wilamp', contact.customer]">{{contact.customerCompanyName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-wilamp/'+ contact.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"> Edit</span>
    </button>
</div>
