<div>
    <h2>
        <span jhiTranslate="wilampCloudApp.nodeModules.home.title">Node Modules</span>
        <button class="btn btn-primary float-right jh-create-entity create-node-modules-wilamp" [routerLink]="['/', { outlets: { popup: ['node-modules-wilamp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="wilampCloudApp.nodeModules.home.createLabel">
            Create new Node Modules
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wilampCloudApp.nodeModules.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nodeModules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="wilampCloudApp.nodeModules.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lightManagementName"><span jhiTranslate="wilampCloudApp.nodeModules.lightManagement">Light Management</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="energyMeterName"><span jhiTranslate="wilampCloudApp.nodeModules.energyMeter">Energy Meter</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="twilightManagementName"><span jhiTranslate="wilampCloudApp.nodeModules.twilightManagement">Twilight Management</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="motionManagementName"><span jhiTranslate="wilampCloudApp.nodeModules.motionManagement">Motion Management</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let nodeModules of nodeModules ;trackBy: trackId">
                <td><a [routerLink]="['../node-modules-wilamp', nodeModules.id ]">{{nodeModules.id}}</a></td>
                <td>{{nodeModules.name}}</td>
                <td>
                    <div *ngIf="nodeModules.lightManagementId">
                        <a [routerLink]="['../light-management-module-wilamp', nodeModules.lightManagementId  ]" >{{nodeModules.lightManagementName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="nodeModules.energyMeterId">
                        <a [routerLink]="['../energy-meter-module-wilamp', nodeModules.energyMeterId  ]" >{{nodeModules.energyMeterName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="nodeModules.twilightManagementId">
                        <a [routerLink]="['../twilight-management-module-wilamp', nodeModules.twilightManagementId  ]" >{{nodeModules.twilightManagementName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="nodeModules.motionManagementId">
                        <a [routerLink]="['../motion-management-module-wilamp', nodeModules.motionManagementId  ]" >{{nodeModules.motionManagementName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../node-modules-wilamp', nodeModules.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'node-modules-wilamp/'+ nodeModules.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'node-modules-wilamp/'+ nodeModules.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
