
<div *ngIf="nodeModules">
    <h2><span jhiTranslate="wilampCloudApp.nodeModules.detail.title">Node Modules</span> {{nodeModules.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="wilampCloudApp.nodeModules.name">Name</span></dt>
        <dd>
            <span>{{nodeModules.name}}</span>
        </dd>
        <dt><span jhiTranslate="wilampCloudApp.nodeModules.lightManagement">Light Management</span></dt>
        <dd>
            <div *ngIf="nodeModules.lightManagementId">
                <a [routerLink]="['/light-management-module-wilamp', nodeModules.lightManagementId]">{{nodeModules.lightManagementName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wilampCloudApp.nodeModules.energyMeter">Energy Meter</span></dt>
        <dd>
            <div *ngIf="nodeModules.energyMeterId">
                <a [routerLink]="['/energy-meter-module-wilamp', nodeModules.energyMeterId]">{{nodeModules.energyMeterName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wilampCloudApp.nodeModules.twilightManagement">Twilight Management</span></dt>
        <dd>
            <div *ngIf="nodeModules.twilightManagementId">
                <a [routerLink]="['/twilight-management-module-wilamp', nodeModules.twilightManagementId]">{{nodeModules.twilightManagementName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="wilampCloudApp.nodeModules.motionManagement">Motion Management</span></dt>
        <dd>
            <div *ngIf="nodeModules.motionManagementId">
                <a [routerLink]="['/motion-management-module-wilamp', nodeModules.motionManagementId]">{{nodeModules.motionManagementName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'node-modules-wilamp/'+ nodeModules.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
