<div class="d-flex">

  Here we have a list of all installations
  <ul class="list-group">
  <li class="list-group-item" *ngFor="let installation of installations">
    <div class="row">
      <div class="w-100">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">{{installation.name}}</h5>
            <p class="card-text">{{installation.description}}</p>
            <a href="/installations/{{installation.id}}" class="btn btn-primary">Dettaglio</a>
          </div>
        </div>
      </div>
    </div>
  </li>
  </ul>
</div>

