<!--begin::Total Profit-->
<div class="m-widget24" *ngIf="node">
    <div class="m-widget24__item">
        <h4 class="m-widget24__title">
            {{node.name}} - {{node.mac}}
        </h4>
        <br>
        <span class="m-widget24__desc">
								Consumption
							</span>
        <span class="m-widget24__stats m--font-brand">
								3500 KWh
							</span>
        <div class="m--space-10"></div>
        <div class="progress m-progress--sm">
            <div class="progress-bar m--bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <span class="m-widget24__change">
								Light level
							</span>
        <span class="m-widget24__number">
								78%
							</span>
    </div>
</div>
<!--end::Total Profit-->
