
<div *ngIf="address">
    <h2><span [translate]="'address.detail.title'">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'address.addressDescription'">Address Description</span></dt>
        <dd>
            <span>{{address.addressDescription}}</span>
        </dd>
        <dt><span [translate]="'address.fullName'">Full Name</span></dt>
        <dd>
            <span>{{address.fullName}}</span>
        </dd>
        <dt><span [translate]="'address.street'">Street</span></dt>
        <dd>
            <span>{{address.street}}</span>
        </dd>
        <dt><span [translate]="'address.houseNumber'">House Number</span></dt>
        <dd>
            <span>{{address.houseNumber}}</span>
        </dd>
        <dt><span [translate]="'address.zipCode'">Zip Code</span></dt>
        <dd>
            <span>{{address.zipCode}}</span>
        </dd>
        <dt><span [translate]="'address.city'">City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
        <dt><span [translate]="'address.country'">Country</span></dt>
        <dd>
            <span>{{address.country}}</span>
        </dd>
        <dt><span [translate]="'address.lat'">Lat</span></dt>
        <dd>
            <span>{{address.lat}}</span>
        </dd>
        <dt><span [translate]="'address.lng'">Lng</span></dt>
        <dd>
            <span>{{address.lng}}</span>
        </dd>
        <dt><span [translate]="'address.timezoneCode'">Timezone Code</span></dt>
        <dd>
            <span>{{address.timezoneCode}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-wilamp/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"> Edit</span>
    </button>
</div>
