.table-wrapper { min-width: 1500px; }

/*:host /deep/ tbody {
    overflow-y: auto;
    display: block;
    max-height: 500px;
}*/

/*:host /deep/ thead {
    display: table;
    width: 100%;
}

:host /deep/ tbody tr {
    display: table;
    width: 100%;
}*/
