{% load render_bundle from webpack_loader %}
{% load static %}

<html  lang="en">
<head>
<meta  charset="UTF-8">
<base  href="/">
<title>Wicloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<h1>Wicloud</h1>
<ngx-app></ngx-app>
{% if not DEBUG %}
<script src="{% static '/bundles/main.bundle.js' %}"></script>
{% else %}
    {% render_bundle 'main' %}
{% endif%}
</body>
</html>
