<div>
    <h2>
        <span jhiTranslate="wilampCloudApp.node.home.title">Nodes</span>
        <button class="btn btn-primary float-right jh-create-entity create-node-wilamp" [routerLink]="['/', { outlets: { popup: ['node-wilamp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="wilampCloudApp.node.home.createLabel">
            Create new Node
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wilampCloudApp.node.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nodes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="wilampCloudApp.node.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="wilampCloudApp.node.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nodeType"><span jhiTranslate="wilampCloudApp.node.nodeType">Node Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mac"><span jhiTranslate="wilampCloudApp.node.mac">Mac</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logTimeIst"><span jhiTranslate="wilampCloudApp.node.logTimeIst">Log Time Ist</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logTime0"><span jhiTranslate="wilampCloudApp.node.logTime0">Log Time 0</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logTime1"><span jhiTranslate="wilampCloudApp.node.logTime1">Log Time 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logTime2"><span jhiTranslate="wilampCloudApp.node.logTime2">Log Time 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logTime3"><span jhiTranslate="wilampCloudApp.node.logTime3">Log Time 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeZone"><span jhiTranslate="wilampCloudApp.node.timeZone">Time Zone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="timeZoneCode"><span jhiTranslate="wilampCloudApp.node.timeZoneCode">Time Zone Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latitude"><span jhiTranslate="wilampCloudApp.node.latitude">Latitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="longitude"><span jhiTranslate="wilampCloudApp.node.longitude">Longitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="altitude"><span jhiTranslate="wilampCloudApp.node.altitude">Altitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modulesId"><span jhiTranslate="wilampCloudApp.node.modules">Modules</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gatewayGatewayHostname"><span jhiTranslate="wilampCloudApp.node.gateway">Gateway</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shippingShippingDate"><span jhiTranslate="wilampCloudApp.node.shipping">Shipping</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderId"><span jhiTranslate="wilampCloudApp.node.order">Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let node of nodes ;trackBy: trackId">
                <td><a [routerLink]="['../node-wilamp', node.id ]">{{node.id}}</a></td>
                <td>{{node.name}}</td>
                <td>{{node.description}}</td>
                <td>{{node.nodeType}}</td>
                <td>{{node.mac}}</td>
                <td>{{node.logTimeIst}}</td>
                <td>{{node.logTime0}}</td>
                <td>{{node.logTime1}}</td>
                <td>{{node.logTime2}}</td>
                <td>{{node.logTime3}}</td>
                <td>{{node.timeZone}}</td>
                <td>{{node.timeZoneCode}}</td>
                <td>{{node.latitude}}</td>
                <td>{{node.longitude}}</td>
                <td>{{node.altitude}}</td>
                <td>
                    <div *ngIf="node.modulesId">
                        <a [routerLink]="['../node-modules-wilamp', node.modulesId  ]" >{{node.modulesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="node.gatewayId">
                        <a [routerLink]="['../gateway-wilamp', node.gatewayId  ]" >{{node.gatewayGatewayHostname}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="node.shippingId">
                        <a [routerLink]="['../shipping-wilamp', node.shippingId  ]" >{{node.shippingShippingDate}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="node.orderId">
                        <a [routerLink]="['../order-wilamp', node.orderId  ]" >{{node.orderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../node-wilamp', node.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'node-wilamp/'+ node.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'node-wilamp/'+ node.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
