<nb-card class="container">
  <nb-card-body>
    <div class="row block align-items-center">
      <!-- COL INFO INSTALLAZIONE -->
        <div class="col-12">
            <h3>{{installation.name}}</h3>
        </div>
        <div class="col-12">
            <h3>{{installation.customer.description}}</h3>
        </div>
        <div class="col-1">
            <i class="icon-mid-width ion-android-alarm-clock "></i>
        </div>
        <div class="col-11">
            <h3>{{ installation.preparationDate }}</h3>
        </div>
    </div>
    <!-- COL INDIRIZZO -->
    <div class="row block align-items-center">
      <div class="col-3">
           <i class="icon-full-width ion-android-pin"></i>
      </div>
      <div class="col-9">
          <div class="row">
              <div class="col-12">
                  <h2>{{installation.address.street}}, {{ installation.address.house_number }}</h2>
              </div>
              <div class="col-12">
                  <h3>{{installation.address.zip_code}}, {{ installation.address.city }} {{ installation.address.country }}</h3>
              </div>
          </div>

      </div>
    </div>
    <!-- COL NOTIFICHE -->
    <div class="row block align-items-center">
      <div class="col-3">
           <i class="icon-full-width ion-android-notifications"></i>
      </div>
      <div class="col-9">
          <div class="row">
              <div class="col-11">
                  <h2>Notifications</h2>
              </div>
              <div class="col-1">
                  <nb-badge style="font-size: 40px" text="2" status="danger"></nb-badge>
              </div>
          </div>

      </div>
    </div>
    <!-- COL STATUS -->
    <div class="row block align-items-center">
      <div class="col-3">
           <i class="icon-full-width ion-android-bulb"></i>
      </div>
      <div class="col-9">
          <div class="row">
              <div class="col-6">
                  <h2>Status</h2>
              </div>
              <div class="col-5">
                  <h2>KO</h2>
              </div>
              <div class="col-1">
                  <nb-badge style="font-size: 40px" text="X" status="danger"></nb-badge>
              </div>
          </div>

      </div>
    </div>
  </nb-card-body>
</nb-card>
