<nb-card class="container">
  <nb-card-body>
    <div class="row block align-items-center">
      <!-- COL INFO INSTALLAZIONE -->
        <div class="col-12">
            <h2 [translate]="'dashboard.light'">{{'dashboard.light' | translate}}</h2>
        </div>
        <div class="col-12">
            <h5>{{installation.customer.description}}</h5>
        </div>
        <div class="col-1">
            <i class="icon-full-width ion-android-alarm-clock "></i>
        </div>
        <div class="col-9">
            <h5>{{ installation.preparationDate }}</h5>
        </div>
    </div>
    <!-- COL INDIRIZZO -->
    <div class="row block align-items-center">
      <div class="col-1">
           <i class="icon-full-width ion-android-pin"></i>
      </div>
      <div class="col-11">
          <div class="row">
              <div class="col-12">
                  <h5>{{installation.address.street}}, {{ installation.address.house_number }}</h5>
              </div>
              <div class="col-12">
                  <h5>{{installation.address.zip_code}}, {{ installation.address.city }} {{ installation.address.country }}</h5>
              </div>
          </div>

      </div>
    </div>
    <!-- COL NOTIFICHE -->
    <div class="row block align-items-center">
      <div class="col-1">
           <i class="icon-full-width ion-android-notifications"></i>
      </div>
      <div class="col-9">
          <div class="row">
              <div class="col-11">
                  <h5>Notifications</h5>
              </div>
              <div class="col-1">
                  <nb-badge class="badge" text="2" status="danger"></nb-badge>
              </div>
          </div>

      </div>
    </div>
    <!-- COL STATUS -->
    <div class="row block align-items-center">
      <div class="col-1">
           <i class="icon-full-width ion-android-bulb"></i>
      </div>
      <div class="col-9">
          <div class="row">
              <div class="col-6">
                  <h5>Status</h5>
              </div>
              <div class="col-5">
                  <h5>KO</h5>
              </div>
              <div class="col-1">
                  <nb-badge class="badge" text="X" status="danger"></nb-badge>
              </div>
          </div>

      </div>
    </div>
  </nb-card-body>
</nb-card>
