
<div *ngIf="twilightManagementModule">
    <h2><span [translate]="'twilightManagementModule.detail.title'">Twilight Management Module</span> {{twilightManagementModule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'twilightManagementModule.name'">Name</span></dt>
        <dd>
            <span>{{twilightManagementModule.name}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.description'">Description</span></dt>
        <dd>
            <span>{{twilightManagementModule.description}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.twMode'">Tw Mode</span></dt>
        <dd>
            <span>{{twilightManagementModule.twMode}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.twType'">Tw Type</span></dt>
        <dd>
            <span>{{twilightManagementModule.twType}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.twGroup'">Tw Group</span></dt>
        <dd>
            <span>{{twilightManagementModule.twGroup}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.validPeriod'">Valid Period</span></dt>
        <dd>
            <span>{{twilightManagementModule.validPeriod}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.thsSunsetOn'">Ths Sunset On</span></dt>
        <dd>
            <span>{{twilightManagementModule.thsSunsetOn}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.thsSunsetOff'">Ths Sunset Off</span></dt>
        <dd>
            <span>{{twilightManagementModule.thsSunsetOff}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.thsSunriseOn'">Ths Sunrise On</span></dt>
        <dd>
            <span>{{twilightManagementModule.thsSunriseOn}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.thsSunriseOff'">Ths Sunrise Off</span></dt>
        <dd>
            <span>{{twilightManagementModule.thsSunriseOff}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.persistencePeriod'">Persistence Period</span></dt>
        <dd>
            <span>{{twilightManagementModule.persistencePeriod}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.delayOffset'">Delay Offset</span></dt>
        <dd>
            <span>{{twilightManagementModule.delayOffset}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.voltagemV'">Voltagem V</span></dt>
        <dd>
            <span>{{twilightManagementModule.voltagemV}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.luxMeasured'">Lux Measured</span></dt>
        <dd>
            <span>{{twilightManagementModule.luxMeasured}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.samplingPeriod'">Sampling Period</span></dt>
        <dd>
            <span>{{twilightManagementModule.samplingPeriod}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.numberAverageMeasures'">Number Average Measures</span></dt>
        <dd>
            <span>{{twilightManagementModule.numberAverageMeasures}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.adcInChannel'">Adc In Channel</span></dt>
        <dd>
            <span>{{twilightManagementModule.adcInChannel}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.programmingStatus'">Programming Status</span></dt>
        <dd>
            <span>{{twilightManagementModule.programmingStatus}}</span>
        </dd>
        <dt><span [translate]="'twilightManagementModule.createdTimestamp'">Created Timestamp</span></dt>
        <dd>
            <span>{{twilightManagementModule.createdTimestamp | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'twilight-management-module-wilamp/'+ twilightManagementModule.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"> Edit</span>
    </button>
</div>
