
/* Node details window */

.node-name-haeder {
    position: absolute;
    top: 52px;
    background-color: rgba(255,255,255,0.0);
    height: auto;
    width: auto;
    margin: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'San Francisco',Helvetica,Arial,serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(74,73,74,1.0);
    text-align: left;
    letter-spacing: -1.47px;
}

.node-name {

    position: absolute;
    top: 71px;
    background-color: rgba(255,255,255,0.0);
    height: auto;
    width: auto;
    margin: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'San Francisco',Helvetica,Arial,serif;
    font-weight: 400;
    font-size: 23px;
    color: rgba(74,73,74,1.0);
    text-align: left;
    letter-spacing: -1.47px;
}

.node-description-haeder {
    position: absolute;
    top: 102px;
    background-color: rgba(255,255,255,0.0);
    height: auto;
    width: auto;
    margin: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'San Francisco',Helvetica,Arial,serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(74,73,74,1.0);
    text-align: left;
    letter-spacing: -1.47px;
}


.node-description {
    background-color: rgba(255,255,255,0.0);
    height: auto;
    width: auto;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'San Francisco',Helvetica,Arial,serif;
    font-size: 23px;
    color: rgba(74,73,74,1.0);
    text-align: left;
    line-height: 44.0px;
    position: absolute;
    top: 119px;
}

/*

.connect-status {
    background-color: rgba(255,255,255,0.0);
    top: 170px;
    height: 35px;
    width: 56px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.control-status {
    background-color: rgba(255,255,255,0.0);
    top: 240px;
    height: 35px;
    width: 56px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.program-status {
    background-color: rgba(255,255,255,0.0);
    top: 292px;
    height: 35px;
    width: 56px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.meter-status {
    background-color: rgba(255,255,255,0.0);
    top: 350px;
    height: 35px;
    width: 56px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.operativemode {
    background-color: rgba(255,255,255,0.0);
    top: 170px;
    height: 35px;
    width: 38px;
    position: absolute;
    margin: 0;
    left: 104px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.operativemode .bkgoperativeunite {
    width: 260px;
}

.operativemode .hand {
    width: 40px;
    position: absolute;
    top: 164px;
    left: 180px;
}

.operativemode .checkmark {
    width: 100px;
    position: absolute;
    top: 72px;
    left: 60px;
}
*/


.connect-status {
    background-color: rgba(255,255,255,0.0);
    top: 170px;
    height: 35px;
    width: 32px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.control-status {
    background-color: rgba(255,255,255,0.0);
    top: 208px;
    height: 35px;
    width: 32px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.program-status {
    background-color: rgba(255,255,255,0.0);
    top: 237px;
    height: 35px;
    width: 32px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.meter-status {
    background-color: rgba(255,255,255,0.0);
    top: 270px;
    height: 35px;
    width: 32px;
    position: absolute;
    margin: 0;
    left: 20px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.operativemode {
    background-color: rgba(255,255,255,0.0);
    top: 170px;
    height: 35px;
    width: 38px;
    position: absolute;
    margin: 0;
    left: 75px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.operativemode .bkgoperativeunite {
    width: 151px;
}

.operativemode .hand {
    width: 27px;
    position: absolute;
    top: 94px;
    left: 101px;
}

.operativemode .checkmark {
    width: 70px;
    position: absolute;
    top: 41px;
    left: 29px;
}


.operativemode .node-details {
    width: 300px;
    position: absolute;
    top: 12px;
    left: 161px;
    font-size: medium;
}


.connect-icon-class {
    width: 30px;
    fill: red;
}

.node-slider {
    position: absolute;
    top: 181px;
    width: 179px;
    left: 103px;
}

.node-slider-mat {
    position: absolute;
    top: 165px;
    width: 179px;
    left: 103px;
}

.node-slider-mat mat-slider {
    width: 160px;
}

.node-onoff {
    position: absolute;
    top: 154px;
    left: 3px;
    width: 72px;
}

.node-profile {
    position: absolute;
    top: 240px;
    left: -66px;
}

.node-zone {
    position: absolute;
    top: 240px;
    left: 138px;
}

.node-energy {
    position: absolute;
    top: 305px;
    left: -66px;
}

.node-co2 {
    position: absolute;
    top: 305px;
    left: 138px;
}

.node-detail-display {
    width: 180px;
}

