<div class="row">
    <div class="col-lg-6">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--bordered-semi">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="fal fa-signal"></i>
							</span>
                        <h3 class="m-portlet__head-text">
                            Saving
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body--no-padding">
                <div id="chart_global_consumption" style="width: 100%;height: 65px;"></div>
            </div>
        </div>
        <!--end::Portlet-->
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="m_portlet_chart_burningTime">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-graph"></i>
							</span>
                        <h3 class="m-portlet__head-text">
                            Burning time
                            <small>
                                by day of week
                            </small>

                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" >
                                <i class="la la-plus"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon" >
                                <i class="la la-circle"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div id="char_day_of_week_burning_time" style="width: 100%;height: 400px;"></div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
    <div class="col-lg-6">
        <!--begin::Portlet-->
        <div class="m-portlet  m-portlet--bordered-semi">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="fal fa-signal"></i>
							</span>
                        <h3 class="m-portlet__head-text">
                            Saving
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div id="chart_current_interval_consumption" style="width: 100%;height: 65px;"></div>
            </div>
        </div>
        <!--end::Portlet-->

        <!--- Auto loading portlet
        <div class="m-portlet m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="m_portlet_tools_2">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="flaticon-graph"></i>
                    </span>
                        <h3 class="m-portlet__head-text">
                            Action Tools
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" >
                                <i class="la la-plus"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon" >
                                <i class="la la-circle"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                <div class="m-separator m-separator--space m-separator--dashed"></div>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            </div>
        </div>
        -->

        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="m_portlet_char_day_of_week_avgpwr">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-graph"></i>
							</span>
                        <h3 class="m-portlet__head-text">
                            Burning time
                            <small>
                                by week number
                            </small>

                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon" >
                                <i class="la la-plus"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon" >
                                <i class="la la-circle"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div id="char_weekly_burning_time" style="width: 100%;height: 400px;"></div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>
<!--end::Chart widgets-->
