<div>
    <h2>
        <span [translate]="'energyInterval.home.title'">Energy Intervals</span>
        <button class="btn btn-primary float-right jh-create-entity create-energy-interval" [routerLink]="['/', { outlets: { popup: ['energy-interval-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  [translate]="'energyInterval.home.createLabel'">
            Create new Energy Interval
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wilampCloudApp.energyInterval.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="energyIntervals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span [translate]="'global.field.id'">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mac"><span [translate]="'energyInterval.mac'">Mac</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lightManagementModuleId"><span [translate]="'energyInterval.lightManagementModuleId'">Light Management Module Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="installationId"><span [translate]="'energyInterval.installationId'">Installation Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startInterval"><span [translate]="'energyInterval.startInterval'">Start Interval</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endInterval"><span [translate]="'energyInterval.endInterval'">End Interval</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startIntervalMeasureTimestamp"><span [translate]="'energyInterval.startIntervalMeasureTimestamp'">Start Interval Measure Timestamp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endIntervalMeasureTimestamp"><span [translate]="'energyInterval.endIntervalMeasureTimestamp'">End Interval Measure Timestamp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activePower"><span [translate]="'energyInterval.activePower'">Active Power</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reactivePower"><span [translate]="'energyInterval.reactivePower'">Reactive Power</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startIntervalActiveEnergyCounterValue"><span [translate]="'energyInterval.startIntervalActiveEnergyCounterValue'">Start Interval Active Energy Counter Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endIntervalActiveEnergyCounterValue"><span [translate]="'energyInterval.endIntervalActiveEnergyCounterValue'">End Interval Active Energy Counter Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergy"><span [translate]="'energyInterval.activeEnergy'">Active Energy</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startIntervalReactiveEnergyCounterValue"><span [translate]="'energyInterval.startIntervalReactiveEnergyCounterValue'">Start Interval Reactive Energy Counter Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endIntervalReactiveEnergyCounterValue"><span [translate]="'energyInterval.endIntervalReactiveEnergyCounterValue'">End Interval Reactive Energy Counter Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reactiveEnergy"><span [translate]="'energyInterval.reactiveEnergy'">Reactive Energy</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergyMty0"><span [translate]="'energyInterval.activeEnergyMty0'">Active Energy Mty 0</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergyMty1"><span [translate]="'energyInterval.activeEnergyMty1'">Active Energy Mty 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergyMty2"><span [translate]="'energyInterval.activeEnergyMty2'">Active Energy Mty 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergyMty3"><span [translate]="'energyInterval.activeEnergyMty3'">Active Energy Mty 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergyWithoutDim"><span [translate]="'energyInterval.activeEnergyWithoutDim'">Active Energy Without Dim</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergyWithoutControl"><span [translate]="'energyInterval.activeEnergyWithoutControl'">Active Energy Without Control</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activeEnergyOldLamps"><span [translate]="'energyInterval.activeEnergyOldLamps'">Active Energy Old Lamps</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="burningTime"><span [translate]="'energyInterval.burningTime'">Burning Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nodeLife"><span [translate]="'energyInterval.nodeLife'">Node Life</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let energyInterval of energyIntervals ;trackBy: trackId">
                <td><a [routerLink]="['../energy-interval', energyInterval.id ]">{{energyInterval.id}}</a></td>
                <td>{{energyInterval.mac}}</td>
                <td>{{energyInterval.lightManagementModuleId}}</td>
                <td>{{energyInterval.installationId}}</td>
                <td>{{energyInterval.startInterval | date:'medium'}}</td>
                <td>{{energyInterval.endInterval | date:'medium'}}</td>
                <td>{{energyInterval.startIntervalMeasureTimestamp | date:'medium'}}</td>
                <td>{{energyInterval.endIntervalMeasureTimestamp | date:'medium'}}</td>
                <td>{{energyInterval.activePower}}</td>
                <td>{{energyInterval.reactivePower}}</td>
                <td>{{energyInterval.startIntervalActiveEnergyCounterValue}}</td>
                <td>{{energyInterval.endIntervalActiveEnergyCounterValue}}</td>
                <td>{{energyInterval.activeEnergy}}</td>
                <td>{{energyInterval.startIntervalReactiveEnergyCounterValue}}</td>
                <td>{{energyInterval.endIntervalReactiveEnergyCounterValue}}</td>
                <td>{{energyInterval.reactiveEnergy}}</td>
                <td>{{energyInterval.activeEnergyMty0}}</td>
                <td>{{energyInterval.activeEnergyMty1}}</td>
                <td>{{energyInterval.activeEnergyMty2}}</td>
                <td>{{energyInterval.activeEnergyMty3}}</td>
                <td>{{energyInterval.activeEnergyWithoutDim}}</td>
                <td>{{energyInterval.activeEnergyWithoutControl}}</td>
                <td>{{energyInterval.activeEnergyOldLamps}}</td>
                <td>{{energyInterval.burningTime}}</td>
                <td>{{energyInterval.nodeLife}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../energy-interval', energyInterval.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" [translate]="'entity.action.view'">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'energy-interval/'+ energyInterval.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" [translate]="'entity.action.edit'">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'energy-interval/'+ energyInterval.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" [translate]="'entity.action.delete'">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
