
<div *ngIf="gateway" style="width:100%; height:100%">

    <gateway-administration-website-widget [(gateway)]="gateway" style="width:100%; height:0px"> </gateway-administration-website-widget>

    <h2 style="width:20px"><span [translate]="'gateway.detail.title'">Gateway</span> {{gateway.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'gateway.name'">Name</span></dt>
        <dd>
            <span>{{gateway.name}}</span>
        </dd>
        <dt><span [translate]="'gateway.description'">Description</span></dt>
        <dd>
            <span>{{gateway.description}}</span>
        </dd>
        <dt><span [translate]="'gateway.gatewayUUID'">Gateway UUID</span></dt>
        <dd>
            <span>{{gateway.gatewayUUID}}</span>
        </dd>
        <dt><span [translate]="'gateway.gatewayHostname'">Gateway Hostname</span></dt>
        <dd>
            <span>{{gateway.gatewayHostname}}</span>
        </dd>
        <dt><span [translate]="'gateway.gatewayType'">Gateway Type</span></dt>
        <dd>
            <span>{{gateway.gatewayType}}</span>
        </dd>
        <dt><span [translate]="'gateway.notes'">Notes</span></dt>
        <dd>
            <span>{{gateway.notes}}</span>
        </dd>
        <dt><span [translate]="'gateway.creationDate'">Creation Date</span></dt>
        <dd>
            <span>{{gateway.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span [translate]="'gateway.serialNumber'">Serial Number</span></dt>
        <dd>
            <span>{{gateway.serialNumber}}</span>
        </dd>
        <dt><span [translate]="'gateway.deviceName'">Device Name</span></dt>
        <dd>
            <span>{{gateway.deviceName}}</span>
        </dd>
        <dt><span [translate]="'gateway.hardwareModel'">Hardware Model</span></dt>
        <dd>
            <span>{{gateway.hardwareModel}}</span>
        </dd>
        <dt><span [translate]="'gateway.macAddress'">Mac Address</span></dt>
        <dd>
            <span>{{gateway.macAddress}}</span>
        </dd>
        <dt><span [translate]="'gateway.coordinatorMac'">Coordinator Mac</span></dt>
        <dd>
            <span>{{gateway.coordinatorMac}}</span>
        </dd>
        <dt><span [translate]="'gateway.fileNameEncryptionInfo'">File Name Encryption Info</span></dt>
        <dd>
            <span>{{gateway.fileNameEncryptionInfo}}</span>
        </dd>
        <dt><span [translate]="'gateway.hardwareInformations'">Hardware Informations</span></dt>
        <dd>
            <span>{{gateway.hardwareInformations}}</span>
        </dd>
        <dt><span [translate]="'gateway.readyToReceiveData'">Ready To Receive Data</span></dt>
        <dd>
            <span>{{gateway.readyToReceiveData}}</span>
        </dd>
        <dt><span [translate]="'gateway.installation'">Installation</span></dt>
        <dd>
            <div *ngIf="gateway.installationId">
                <a [routerLink]="['/installation-wilamp', gateway.installationId]">{{gateway.installationName}}</a>
            </div>
        </dd>
        <dt><span [translate]="'gateway.shipping'">Shipping</span></dt>
        <dd>
            <div *ngIf="gateway.shippingId">
                <a [routerLink]="['/shipping-wilamp', gateway.shippingId]">{{gateway.shippingShippingDate}}</a>
            </div>
        </dd>
        <dt><span [translate]="'gateway.order'">Order</span></dt>
        <dd>
            <div *ngIf="gateway.orderId">
                <a [routerLink]="['/order-wilamp', gateway.orderId]">{{gateway.orderId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gateway-wilamp/'+ gateway.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"> Edit</span>
    </button>
</div>
