<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myShippingLabel" jhiTranslate="wilampCloudApp.shipping.home.createOrEditLabel">Create or edit a Shipping</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!shipping.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="shipping.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.shipping.courier" for="field_courier">Courier</label>
            <input type="text" class="form-control" name="courier" id="field_courier"
                [(ngModel)]="shipping.courier" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.shipping.trackingCode" for="field_trackingCode">Tracking Code</label>
            <input type="text" class="form-control" name="trackingCode" id="field_trackingCode"
                [(ngModel)]="shipping.trackingCode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.shipping.shippingDate" for="field_shippingDate">Shipping Date</label>
            <input type="text" class="form-control" name="shippingDate" id="field_shippingDate"
                [(ngModel)]="shipping.shippingDate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.shipping.estimatedArrival" for="field_estimatedArrival">Estimated Arrival</label>
            <input type="text" class="form-control" name="estimatedArrival" id="field_estimatedArrival"
                [(ngModel)]="shipping.estimatedArrival" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.shipping.transportDocument" for="field_transportDocument">Transport Document</label>
            <input type="text" class="form-control" name="transportDocument" id="field_transportDocument"
                [(ngModel)]="shipping.transportDocument" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.shipping.isArrived" for="field_isArrived">Is Arrived</label>
            <input type="checkbox" class="form-control" name="isArrived" id="field_isArrived"
                [(ngModel)]="shipping.isArrived" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="wilampCloudApp.shipping.shippingContact" for="field_shippingContact">Shipping Contact</label>
            <select class="form-control" id="field_shippingContact" name="shippingContact" [(ngModel)]="shipping.shippingContactId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contactOption.id" *ngFor="let contactOption of contacts; trackBy: trackContactById">{{contactOption.contactDescription}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="wilampCloudApp.shipping.order" for="field_order">Order</label>
            <select class="form-control" id="field_order" multiple name="order" [(ngModel)]="shipping.orders">
                <option [ngValue]="getSelected(shipping.orders, orderOption)" *ngFor="let orderOption of orders; trackBy: trackOrderById">{{orderOption.orderDate}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
