
<div *ngIf="lightProfileSlot">
    <h2><span [translate]="'lightProfileSlot.detail.title'">Light Profile Slot</span> {{lightProfileSlot.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'lightProfileSlot.name'">Name</span></dt>
        <dd>
            <span>{{lightProfileSlot.name}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.description'">Description</span></dt>
        <dd>
            <span>{{lightProfileSlot.description}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.don'">Don</span></dt>
        <dd>
            <span>{{lightProfileSlot.don}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.dof'">Dof</span></dt>
        <dd>
            <span>{{lightProfileSlot.dof}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.ton'">Ton</span></dt>
        <dd>
            <span>{{lightProfileSlot.ton}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.tof'">Tof</span></dt>
        <dd>
            <span>{{lightProfileSlot.tof}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.eas'">Eas</span></dt>
        <dd>
            <span>{{lightProfileSlot.eas}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.ecr'">Ecr</span></dt>
        <dd>
            <span>{{lightProfileSlot.ecr}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.emo'">Emo</span></dt>
        <dd>
            <span>{{lightProfileSlot.emo}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.edw'">Edw</span></dt>
        <dd>
            <span>{{lightProfileSlot.edw}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.enabled'">Enabled</span></dt>
        <dd>
            <span>{{lightProfileSlot.enabled}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.lightProfileIndex'">Light Profile Index</span></dt>
        <dd>
            <span>{{lightProfileSlot.lightProfileIndex}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.pw0'">Pw 0</span></dt>
        <dd>
            <span>{{lightProfileSlot.pw0}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.pw1'">Pw 1</span></dt>
        <dd>
            <span>{{lightProfileSlot.pw1}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.pw2'">Pw 2</span></dt>
        <dd>
            <span>{{lightProfileSlot.pw2}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.pw3'">Pw 3</span></dt>
        <dd>
            <span>{{lightProfileSlot.pw3}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.fadeIn'">Fade In</span></dt>
        <dd>
            <span>{{lightProfileSlot.fadeIn}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.fadeOut'">Fade Out</span></dt>
        <dd>
            <span>{{lightProfileSlot.fadeOut}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.slot'">Slot</span></dt>
        <dd>
            <span>{{lightProfileSlot.slot}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.createdTimestamp'">Created Timestamp</span></dt>
        <dd>
            <span>{{lightProfileSlot.createdTimestamp | date:'medium'}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.motionDuration'">Motion Duration</span></dt>
        <dd>
            <span>{{lightProfileSlot.motionDuration}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.motionDelay'">Motion Delay</span></dt>
        <dd>
            <span>{{lightProfileSlot.motionDelay}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.mi0'">Mi 0</span></dt>
        <dd>
            <span>{{lightProfileSlot.mi0}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.mi1'">Mi 1</span></dt>
        <dd>
            <span>{{lightProfileSlot.mi1}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.mi2'">Mi 2</span></dt>
        <dd>
            <span>{{lightProfileSlot.mi2}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.mi3'">Mi 3</span></dt>
        <dd>
            <span>{{lightProfileSlot.mi3}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.motionFadeIn'">Motion Fade In</span></dt>
        <dd>
            <span>{{lightProfileSlot.motionFadeIn}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.motionFadeOut'">Motion Fade Out</span></dt>
        <dd>
            <span>{{lightProfileSlot.motionFadeOut}}</span>
        </dd>
        <dt><span [translate]="'lightProfileSlot.lightProfile'">Light Profile</span></dt>
        <dd>
            <div *ngIf="lightProfileSlot.lightProfileId">
                <a [routerLink]="['/light-profile', lightProfileSlot.lightProfileId]">{{lightProfileSlot.lightProfileName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'light-profile-slot/'+ lightProfileSlot.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"> Edit</span>
    </button>
</div>
