<div *ngIf="energyMeterModule">
    <h2><span [translate]="'energyMeterModule.detail.title'">Energy Meter Module</span> {{energyMeterModule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span [translate]="'energyMeterModule.name'">Name</span></dt>
        <dd>
            <span>{{energyMeterModule.name}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.description'">Description</span></dt>
        <dd>
            <span>{{energyMeterModule.description}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.iacCalibration'">Iac Calibration</span></dt>
        <dd>
            <span>{{energyMeterModule.iacCalibration}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.vacCalibration'">Vac Calibration</span></dt>
        <dd>
            <span>{{energyMeterModule.vacCalibration}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.patCalibration'">Pat Calibration</span></dt>
        <dd>
            <span>{{energyMeterModule.patCalibration}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.preCalibration'">Pre Calibration</span></dt>
        <dd>
            <span>{{energyMeterModule.preCalibration}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.nominalPower'">Nominal Power</span></dt>
        <dd>
            <span>{{energyMeterModule.nominalPower}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.oldLampPower'">Old Lamp Power</span></dt>
        <dd>
            <span>{{energyMeterModule.oldLampPower}}</span>
        </dd>
        <dt><span [translate]="'energyMeterModule.powerLosses'">Power Losses</span></dt>
        <dd>
            <span>{{energyMeterModule.powerLosses}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span [translate]="'entity.action.back'"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'energy-meter-module/'+ energyMeterModule.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span [translate]="'entity.action.edit'"> Edit</span>
    </button>
</div>
