.card-header {
  background-color: red;
}
.block {
  border-bottom: 1px solid #c7c7c7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-full-width {
  font-size: 3vw;
}
.icon-mid-width {
  font-size: 1.5vw;
}
.icon-small-width {
  font-size: 1vw;
}
.badge {
  font-size: 30px;
}
